# ------ Settings ------
# Change yuse settings here

# Which package manager will you use.
# "pacman", "apt", "dnf", etc
packageManager="pacman"

# Enables or disables the updates of the package managers native to the system.
# "enabled" or "disabled"
nativePKGUpdate="enabled"

# Script call command (this only changes placeholders when mentioned in a message)
callName="yuse" 

# Specifies which distro you are using
# "DetectDistro" (to auto-detect with os-release file).
distroID="DetectDistro"

# After Update 
# AfterUpdateDo configures if you want to perform some operation after the update.
afterUpdateDo=""

# ------ Flatpak and Snap update support. ------

# Enable or disable flatpak updates
flatpakUpdate="enabled"

# Enable or disable snap updates
snapUpdate="disabled"

# ------ Flatpak and Snap update support. ------

# ------ Settings ------